html{
    scroll-behavior: smooth;
}
*
{
    
    margin: 0px;
    padding: 0px;
    font-family: fantasy;
}
body
{
    background-color: lightgray;
    overflow-x: hidden;
}
.navbar
{
    background-color: rgba(32, 29, 29, 0.151);
    box-sizing: border-box;
    
    display: flex;
    height: 100px;
    align-items: center;
   
}

.top
{
    
    margin-left:200px;
   
}
#logo
{
    margin-left: 100px;
   background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw60btIA03bSjrRd3Y8N5kS-qmcThLWJ5-KA&usqp=CAU') no-repeat center center/cover;
   width: 100px;
   height: 100px;
   border-radius: 190px;
   transition-duration: 0.5s;
}
#logo:hover{
    transform: rotate(360deg);
}
#middle
{
    
}
#mainbox
{

justify-content: center;
align-items: center;
display: flex;

}
.main
{

list-style: none;
}
#first
{
display: block;
padding: 15px 30px;
text-decoration: none;
color: rgb(255, 255, 255);
background-color: rgb(252, 170, 48);
transition-duration: 0.25s;

}

#first:hover
{

background-color: aliceblue;
color: black;
transform: scale(1.1);
}
#first:active
{
background-color: rgb(255, 208, 0);
}
#links
{
display: block;
padding: 15px 20px;
text-decoration: none;
color: rgb(255, 255, 255);
background-color: rgb(252, 170, 48);
transition-duration: 0.25s;

}

#links:hover
{

background-color: aliceblue;
color: black;
transform: scale(1.1);
}
.body-1::before
{
    content: "";
    z-index: -1;
    background: url('https://images.pexels.com/photos/19052634/pexels-photo-19052634/free-photo-of-rustic-table-with-bread-and-spinach.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat center center/cover;
    height: 140vh;
    width: 100vw;
    position: absolute;
    opacity: 0.90;

}
.body-1
{
   
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 25px;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 120px;
  
   
    color: rgb(255, 255, 255);
    text-align: center;
}
.heading1{
    padding: 30px;
    
}
#butten
{
    display: block; 
    text-decoration: none;
  
}
#butten:hover{
    
}
.button 
{     
   
    padding: 20px 60px;
    background-color: rgb(39, 31, 51);
    color: white;
    border-style: none;
    border-radius:25px ;
    margin-top: 65px;
    font-size: 15px;
    transition-duration: 0.25s;
}
.button:hover
{
    transform: scale(1.05);
    background-color: rgb(127, 131, 131);
    color: rgb(177, 144, 144);
    cursor: pointer;
}

.heading2
{
    font-size: 40px;
    color: rgb(16, 15, 31);
    text-decoration: underline;
}
.body-2::before
{
    content:"";
    z-index: -1;
    position: absolute;
    height: 100vh;
    

}
.body-2
{
    background: url('https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat center center/cover;
   
    margin-top: 140px;
    padding: 60px 0px;
    height: 150vh;
    text-align: center;
}
.body-2box
{ 
    margin: 60px 30px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}
.midbox
{
    margin: 10px 40px;
    
    padding: 30px 10px;
  
   transition-duration: .25s;
}
.midbox:hover{
    transform: scale(1.05);
}
.name
{
    margin: 10px 0px;
    font-size: 40px;
}
.discription
{
    font-size: 17px;
}

.body-3
{
    height: 100vh;
   background-color: rgb(64, 77, 77);
    
}
.heading3
{
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-top: 60px;
    padding-left: 60px;
}
.contact
{
   
   margin-left: 60px;
    width: 90vw;
    height: 50vh;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
}
.social
{
    margin: 50px 80px;
   
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}

#links
{
    background-color: white;
}

.sites
{
   
    padding: 50px 10px;
    display: block;
}
.info
{
    margin: 40px 0px;
    text-align: center;
    color: aliceblue;
   
}


.copy
{
    width: 100vw;
    display: flex;
    position: absolute;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}
.copyright
{
    padding:10px 40px;
}
.copyright:hover
{
    color: rgb(160, 160, 253);
}
